.date-box {
  border: 1px solid #fff;
  height: 160px;
  width: 30%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Calibri';
}
.current-time {
  font-size: 40px;
}
.date,
.current-time {
  font-weight: bold;
  font-weight: bold;
}
